---
layout: single
---

<h3>Enrolling in COMS W4995 Applied Machine Learning</h3>
<p>
The Applied Machinke Learning course is managed as a waiting list.
MS DS students can enroll via SSOL. External students can join the waiting list
by filling out <a href="https://www.surveymonkey.com/r/AppliedML_Sp18">this
form</a> as outlined in the <a href="http://datascience.columbia.edu/course-inventory">
Cross-Registration Instructions</a>.
</p>

<h3>Office Hours</h3>
Mentor office hours: Thursdays 11am-12pm
