---
layout: single
---

<h3>Enrolling in COMS W4995 Applied Machine Learning Spring 2020</h3>
<p>
Applied Machine learning will be held again in Spring 2020,
MS DS students can enroll in COMS W4995 via SSOL. External students have to follow the <a href="http://datascience.columbia.edu/course-inventory">
Cross-Registration Instructions</a> outlined by DSI. More details on the <a href="https://www.cs.columbia.edu/~amueller/comsw4995s20">course website</a>.
</p>
<p>
You can find the materials from last year <a href="https://www.cs.columbia.edu/~amueller/comsw4995s19/">on the previous course website</a>, and
videos from last year on <a href="https://www.youtube.com/watch?v=Qd68h4UGlNY&list=PL_pVmAaAnxIQGzQS2oI3OWEPT-dpmwTfA">youtube</a>.
The content in 2020 will closely resemble the previous content.
</p>
<h3>Auditing Applied Machine Learning</h3>
If you are not able to enroll in the course or would like to audit for other reasons, anyone interested will be added to the coursework
and piazza platforms. Please email a CA to get yourself added. If you are auditing, your exams and homework will not be graded.
