---
layout: single
---

<h3>Enrolling in COMS W4995 Applied Machine Learning Sprint 2020</h3>
<p>
Applied Machine learning will be held again in Spring 2020 and will be listed in virgil soon.
MS DS students can enroll in COMS W4995 via SSOL. External students have to follow the <a href="http://datascience.columbia.edu/course-inventory">
Cross-Registration Instructions</a> outlined by DSI.
</p>
<p>
You can find the materials from last year <a href="https://www.cs.columbia.edu/~amueller/comsw4995s19/">on the course website</a>, and
videos from last year on <a href="https://www.youtube.com/watch?v=Qd68h4UGlNY&list=PL_pVmAaAnxIQGzQS2oI3OWEPT-dpmwTfA">youtube</a>.
The content in 2020 will closely resemble the previous content.
</p>
